*{
    box-sizing: border-box;
}

.forbidden{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    max-height: 100vh;
}

.forbidden img{
    height: 40vh;
    max-height: 50%;
}

.staff{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.myadmin-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.myadmin-menu a{
    text-align: center;
    padding: 10px 20px;
    margin: 10px;
    color: rgb(10,20,40);
    text-decoration: none;
    transition: all ease 0.1s;
    border: 1px solid #aaa;
    width: 100%;
}

#exit{
    color: red;
}

.myadmin-menu a:visited{
    color: rgb(10,20,40);
    text-decoration: none;
}

.myadmin-menu a:hover{
    transform: scale(1.01);
    color: #0044ee
}


.myadmin-courses{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.myadmin-course{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    border: 1px solid #aaa;
    margin: 10px;
}

.myadmin-course span{
    padding: 10px;
}

.myadmin-icons{
    display: flex;
    width: 50%;
    justify-content: flex-end;
    align-items: center;
}

.myadmin-icons a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 12px;
    padding: 0;
    margin: 0;
    transition: all 0.1s ease-out;
    color: rgb(10,20,40);
}

.myadmin-icons a:hover{
    transform: scale(1.1);
}

.myadmin-icons a:visited{
    color: rgb(10,20,40);
}

.myadmin-icons a:nth-child(2){
    color: rgb(10,20,40);
}

.my-icons a:last-child{
    color: red;
}

.myadmin-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.myadmin-form form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 30%;
}

.myadmin-form form p{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.myadmin-form form p input{
    width: 100%;
}

.myadmin-form form p textarea{
    height: 2em;
    max-height: 20em;
    max-width: 60em;
    min-height: 2em;
    min-width: 30em;
}

.plus-course{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5px 20px;
    background-color: white;
    border-radius: 30px;    
    border: 1px solid rgb(230, 46, 46);
    text-decoration: none;
    color: rgb(230, 46, 46);
}

.plus-course:visited{
    color: rgb(230, 46, 46);
    text-decoration: none;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: rgb(10,20,40);
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
  
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 90%;
    left: 50%;
    margin-left: -60px;
  
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  /* Tooltip arrow */
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(10,20,40) transparent transparent transparent;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }