<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "css/myadmin.css" %}" />
</head>
<body>
    {% if user.is_staff %}
    <div class="staff">
        <h1>Olá, {{ user.username }}</h1>
    
        <div class="myadmin-menu">
            <a href="/myadmin/cursos">Cursos</a>
            <a href="#">Usuários</a>
            <a id='exit' href="/user/logout">Sair</a>
        </div>
    </div>
        
    {% else %}
    <div class='forbidden'>
        <h2>Acesso proibido</h2>
        <img src="{% static "images" %}/icons/forbidden.png">
        <p>Esta área é exclusiva para os administradores do site</p>
        <a href="/login">Possui acesso de administrador? Faça o login aqui</a>
    </div>
        
    {% endif %}
</body>
</html>