<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "css/myadmin.css" %}" />
    
</head>
<body>
    {% if user.is_staff %}
    <div class="staff">
        <h2>Gerenciamento Bad_Request</h2>
        <h3>Olá, {{ user.username }}</h3>
    
        <div class="myadmin-menu">
            <a href="/myadmin/cursos">Gerenciar cursos</a>
            <a href="#">Gerenciar usuários</a>
            <a id='exit' href="/user/logout">Sair da conta de administrador</a>
        </div>
    </div>
        
    {% else %}
    <div class='forbidden'>
        <h2>Área restrita</h2>
        <img src="{% static "images" %}/icons/forbidden.png">
        <p>Esta área é exclusiva para os administradores do site</p>
        <a href="{% url 'mylogin'%}?next=/myadmin">Possui acesso de administrador? Faça o login aqui</a>
    </div>
        
    {% endif %}
</body>
</html>