<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static "/css/myadmin.css" %}">
    <title>Document</title>
</head>
<body>
    <div class="myadmin-courses">
        <a class='plus-course' href="/myadmin"><span class="material-symbols-outlined">home</span>Início da área administrativa</a>

        <h2>Cursos adquiridos</h2>
        <h4>Cliente: {{ user.username }}</h4>
        <a class='plus-course' href="/myadmin/usuarios/editar-usuario/{{ user.id}}/adicionar-curso"><span class="material-symbols-outlined">add</span>Adicionar novo curso</a>
        {% for curso in courses %}
        <div class="myadmin-course">
            <span>{{ curso.title }}</span>
            <div class="myadmin-icons">
                <div class="tooltip">
                    <a href='#'><span class="material-symbols-outlined">delete</span></a>
                    <span class="tooltiptext">Excluir</span>
                </div>
            </div>
            
        </div>
        
        {% endfor %}
    </div>
    
</body>
</html>