<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "css/menu.css" %}" />
    <link rel="stylesheet" type='text/css' href="{% static "css/profile.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/index.css" %}" />


    <title>Document</title>
</head>
<body>
    <div class="main-courses">

        <div class="top-menu">
            <img src="{% static "images/onlyLogo.png" %}">
            <div class="center-options">
                <div class="item-menu"><a class="item-menu-a" href="/">Home</a></div>
                <div class="item-menu"><a class="item-menu-a" href="/cursos">Cursos</a></div>
                <div class="item-menu"><a class="item-menu-a" href="/quem-somos">Quem somos</a></div>
            </div>
            {% if user.is_authenticated %}
            <div class="profile">
                <img src="{% static "images" %}/icons/profile-white.png">
                <div class="profile-user">
                    <span>Olá, {{ user.username }}.</span>
                    <a href="#">Meus cursos</a>
                    <a href="/user/logout">Sair</a>
                </div>            
            </div>            
            {% else %}
            <div class="menu-button"><a  href='/login' class="to-login">Login</a></div>
            {% endif %}
        </div>
    <h1>Olá, {{ user.username }}</h1>
    
    <div class="all-my-courses">
        <h2>Cursos adquiridos</h2>
        {% for curso in courses %}
        <a class="mycourses" href="{{ curso.get_absolute_url }}">{{ curso.title }}</a>
        {% endfor %}
    </div>
    
</body>
</html>